
body {
    font-family: "Roboto", "Nunito", sans-serif;
    min-height: 100vh;
}

.header { 
    height: 6vh;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    height: 5vh;
    background-color: #1F2937; 
    justify-content: center;
    align-content: center;
}

.content {
    height: 90vh;
}

/* Hero & nested elements */
.hero {
    background-color: #1F2937;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5vh;
}

.hheading {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

.himg {
    width: 40vh;
    height: 12.5vh;
}

button {
    border-radius: 8px; 
    padding: 10px 40px;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
}

/* Info div and nested contents */
.info {
    display: flex;
    height: 26vh;
}

.heading {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}

.tiles {
    display: flex;
    justify-content: center;
    align content: center;
}

.tile {
    margin: 0 5vh;
}

.timg {
    height: 8vh;
    width: 8vh;
    border: 1px solid #3882f6;
    border-radius: 8px; 
}

/* Quote div and contents */
.quote {
    height: 21vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align content: center;
    color: #1F2937
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.attribution {
    font-size: 24px;
    font-weight: bold;
    float: right;
}

/* Call to action div */
.box {
    display: flex;
    justify-content: center;
    align content: center;
    height: 17vh;
}

.action {
    height: 6vh;
    background-color: #3882f6;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.act {
    border: 2px solid white;
    float: right;
}

/* subtext styling */
a, 
.hsubtext,
.ttext,
.atext,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}